# Discord Bot Configuration
# Get this from https://discord.com/developers/applications
DISCORD_BOT_TOKEN=

# Saturn Protocol Config
GUILD_ID=1449490560640614461
CLIENT_ID=299881420891881473

# RPC (Use same as Dashboard)
SOLANA_RPC_URL=https://api.devnet.solana.com
